a:link, a:visited 
{
  background-color: rgb(255, 128, 67);
  color: white;
  width:150px;
    height:15px;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active 
{
padding: 18px 30px;
text-align: center;
  background-color: orange;
}